<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freehome.mamaison">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.mains.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activities.mains.ActivityStartLoader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.activitiesDetails.VenteDetail"/>
        <activity android:name=".activities.mailActivities.SendMail"/>
        <activity android:name=".activities.activitiesDetails.LocationDetails"/>
        <activity android:name=".activities.activitiesDetails.ResidenceDetails"/>
        <activity android:name=".activities.mailActivities.SendMailLocation"/>
        <activity android:name=".activities.mailActivities.SendMailResidence"/>
    </application>

</manifest>